// LOGO
$bezport-logo: url('../images/logo-bezport-new.svg'); // 1000x332
$logo-kvk-new: url('../images/logo-kvk-new.svg'); //1000x454

// BG IMAGES
$sidebar-header: url('../images/sidebar-header.jpg'); // 350x65
$sidebar-header-blue: url('../images/sidebar-header-blue.jpg'); // 350x65
$sidebar-header-red: url('../images/sidebar-header-red.jpg'); // 350x65

// ICONS
$alert-blue: url('../images/alert-blue.svg'); // 1000x1000
$alert-darkred: url('../images/alert-darkred.svg');
$alert-white: url('../images/alert-white.svg');
$folder-blue: url('../images/folder-blue.svg');
$folder-darkred: url('../images/folder-darkred.svg');
$folder-white: url('../images/folder-white.svg');
$jm-blue: url('../images/jm-blue.svg');
$jm-darkred: url('../images/jm-darkred.svg');
$jm-white: url('../images/jm-white.svg');

// CHEVRONS (61x100)
$chevron-left-black: url('../images/chevron-left-black.svg');
$chevron-left-blue: url('../images/chevron-left-blue.svg');
$chevron-left-red: url('../images/chevron-left-red.svg');
$chevron-left-white: url('../images/chevron-left-white.svg');
$chevron-right-black: url('../images/chevron-right-black.svg');
$chevron-right-blue: url('../images/chevron-right-blue.svg');
$chevron-right-red: url('../images/chevron-right-red.svg');
$chevron-right-white: url('../images/chevron-right-white.svg');
$chevron-right-blue-png: url('../images/chevron-right-blue-png.png');

// HEADER HEIGHT
// height: map-get($header-height, small);
$header-height: (  
  small: 55px,
  large: 65px, 
);

