// -------------------------------------
// Block Info above footer
// -------------------------------------
.block-info-above-footer {
  .block-wrapper {
    .cell {
      margin-bottom: 20px;
      .item-content {
        p, ol, ul {
          margin: 0;
          padding: 0;
        }
        .field--block-content-body {
          &:has(img) {
            text-align: center;
          }
          h2 {
            margin: 0 0 5px;
            font-weight: $font-weight-regular;
            color: $blue;
            font-size: rem-calc(16);
          }
          p, li {
            font-size: rem-calc(13);  
          }
          a {
            color: $blue;   
            &:hover,
            &:focus {
              color: $darkblue;  
            }
          }
          img.logo-kvk-above-footer {
            height: 91px;
            width: auto;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include breakpoint(medium) {
    .block-wrapper {
      .cell {
        &:nth-last-child(2) {
          margin-bottom: 0;  
        }
        .item-content {
          .field--block-content-body {
            &:has(img) {
              text-align: left;
            }
          }
        }
        &.cell-1 {
          .item-content {
            padding: 0 15px 20px 0;  
          }
        }
        &.cell-2 {
          .item-content {
            padding: 0 0 20px 15px;  
          }
        }
        &.cell-3 {
          .item-content {
            padding: 0 15px 0 0;  
          }
        }
        &.cell-4 {
          .item-content {
            padding: 0 0 0 15px;  
          }
        }
      }
    }
  }
  @include breakpoint(xlarge) {
    .block-wrapper {  
      .cell {
        margin-bottom: 0;
        &.cell-1 {
          .item-content {
            padding: 0 20px 0 0;  
          }
        }
        &.cell-2 {
          .item-content {
            padding: 0 10px;  
          }
        }
        &.cell-3 {
          .item-content {
            padding: 0 10px;  
          }
        }
        &.cell-4 {
          .item-content {
            padding: 0 0 0 20px;  
          }
        }        
      }
    }
  }
}

// -------------------------------------
// Footer
// -------------------------------------
.block-footer {
  p, ol, ul {
    margin: 0;
    font-size: rem-calc(13);
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $black;
      text-decoration: underline;  
    }
  }
  strong {
    font-weight: $font-weight-medium;
  }
  .cell {
    text-align: center;
    padding-bottom: 15px;
  }
   @include breakpoint(large) {
    .cell {
      &:last-child {
        padding-bottom: 0;  
      }
      @include flex;
      text-align: left; 
      &.cell-left {
        @include flex-align(left, middle);
      }
      &.cell-mid {
        @include flex-align(right, middle);  
      }
      &.cell-right {
        @include flex-align(center, middle);  
      }
    }
  }
  @include breakpoint(xlarge) {
    .cell {
      padding-bottom: 0; 
      &.cell-left {
        @include flex-align(left, middle);
      }
      &.cell-mid {
        @include flex-align(center, middle);  
      }
      &.cell-right {
        @include flex-align(right, middle);  
      }
    }
  }
}