// MAIN
.main-menu-container {
  position: relative;
  z-index: 1;
  background-color: $white;
  & .title-bar {
    @include flex;
		@include flex-align(right, middle);
    padding: 0;
		position: relative;
    background-color: $white;
    & .menu-icon-title-wrapper {
      height: map-get($header-height, small);
		  //background-color: aquamarine;		  
    }
	}
}

/* HAMBURGER GLOBAL */
#top-bar-sticky-container {
	.title-bar {
    padding-top: 10px;
    margin: 0 10px 0 0;
    .menu-icon-title-wrapper {
      display: inline-block; 
      .menu-icon { 
        margin: 0;
        padding: 0;
        width: 45px;
        height: 30px;
        display: block;
        position: relative;
			  border-radius: 0;
        //background-color: rgba(red, .5);
        &::after {
          display: none; 
        }
        .hamburger {
          @include absolute-stretch;
          display: block;
          //background-color: green;
          span {
            background-color: $primary-link-color;
            display: block;
            width: 100%;
            height: 5px;
            position: absolute;
            left: 0;          
            transition: all .2s ease;
            &:nth-child(1) {
			        top: 0;	
		        }
            &:nth-child(2) {
			        top: 12px;	
		        }
            &:nth-child(3) {
			        top: 24px;	
		        }
          }
        }
      }
      .title-bar-title { 
        display: block;
        font-size: 12px;
        font-weight: $font-weight-light;
        text-transform: uppercase;
        line-height: 1;
        padding-top: 3px;
        color: $primary-link-color;
        position: relative;
        &:after {
          @include css-triangle(5px, $primary-link-color, down);
          position: absolute;
          top: 5px;
          right: 0;
        }
      }
      &:hover,
      &:focus {
        .menu-icon { 
          .hamburger {
            span {
              background-color: $secondary-link-color;
            }
          }
        }
        .title-bar-title {
          color: $secondary-link-color;
          &:after {
            @include css-triangle(5px, $secondary-link-color, down);
          }
        }
      }
    }
	}
  @include breakpoint(medium) {
    .title-bar {
      margin: 0 15px 0 0;
    }
  }
}
