{%
  set classes = [
    'field',
    'field--' ~ entity_type|clean_class ~ '-' ~ field_name|clean_class,
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{% if items is not empty %}
  <div{{ attributes.addClass(classes) }}>
    {{ items[0].content }}
  </div>
{% endif %}