// -------------------------------------
// HEADER
// -------------------------------------
header.site-header {
  position: relative;
  isolation: isolate;
  border-bottom: 10px solid $silver;
  .header-content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    .header-content-wrapper {  
      .header-content {
        height: map-get($header-height, small);
        position: relative;
			  background-color: rgba(cadetblue, .4);
      }
    }
  }
  @include breakpoint(large) {
    .header-content-container {
      .header-content-wrapper {
        .header-content {
          height: map-get($header-height, large);
        }
      }      
    }
  }
}

// -------------------------------------
// SITE BRANDING
// -------------------------------------
.block-site-branding {
  position: absolute;    
  top: 5px;
  left: 0;
  z-index: 2;
  width: 136px;
  height: 45px;
  .contextual {
    display: none;
  }
	.site-logo {
    @include element-invisible;  
  }
  .site-name {
		@include absolute-stretch;
    display: block;
    margin: 0;
		padding: 0;
		line-height: 1;	
		a {
			@include absolute-stretch;
      display: block;
			@include full-bg-img;
			background-image: $bezport-logo;
			& > span {
				@include element-invisible;	
			}
		}
	}
  .site-slogan {
		@include element-invisible;	
	}
  @include breakpoint(large) {
    top: 10px;
    width: 166px;
    height: 55px;
  }
  &.element-sticky {
    position: fixed;  
    left: calc(50% - 650px);
  }
}
